/* yes_styles.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F8C8DC;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Position the "No" button absolutely within body */
#noButton {
    position: absolute;
    margin-left: 150px;
    transition: 0.5s;
    /* Smooth movement */
}

#yesButton {
    position: absolute;
    margin-right: 150px;
    /* Smooth movement */
}

.header_text,
.text {
    font-family: 'Nunito';
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    opacity: 0;
    animation: fadeInText 1s ease-in-out forwards;
}

@keyframes fadeInText {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.header_text {
    font-size: 50px;
    font-weight: bold;
    color: white;
}

.text {
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
    /* optional: adds some space between the buttons */
    opacity: 0;
    animation: fadeInButtons 1s ease-in-out forwards;
}

@keyframes fadeInButtons {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.btn {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: #FFB6C1;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #FAF9F6;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: fadeInGif 1s ease-in-out forwards;
}

@keyframes fadeInGif {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
